{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recommended-scss",
        "stylelint-config-recess-order",
        "stylelint-prettier/recommended"
    ],
    "rules": {
        "number-leading-zero": "always",
        "alpha-value-notation": null,
        "color-function-notation": null,
        "scss/no-global-function-names": null,
        "no-descending-specificity": null,
        "indentation": 4
    }
}
