/** @format */

@use './color' as C;

$shadowNames: (
    'primary': C.$color-primary,
    'success': C.$color-success,
    'warning': C.$color-warning,
    'danger': C.$color-danger,
    'info': C.$color-info,
);

@mixin createShadowColor() {
    @each $name, $color in $shadowNames {
        @for $i from 1 through 5 {
            #{--shadow-color}-#{$name}-#{$i}: rgba(
                $color: scale-color($color, $lightness: $i * -10%),
                $alpha: 0.3
            );
        }
    }
}
